<nav class="navAttr">
  <div class="col-md-12">
    <a href="#/" class="logoLink"><img class="logo" src="images/Pinterest_Badge_Red.png"></a>
    <input class="form-control search" type="text" ng-model="searchText">
    <a class="btn btn-default" href="#/profile/{{uid}}">{{userName}}</a>
  <div>  
</nav>
<div id="board">
  <h1>{{board}}</h1>
  <div id="boardPins" class="row pinRow">
    <div ng-repeat="pin in pins | filter: searchText | filter: {board: board}">
       <div class="item">
          <div class="well">
         <div class="thumbnail">
          <button class="pinIt btn btn-xs" data-toggle="modal" data-target="#modal" ng-click="getPin(pin)"><span class="glyphicon glyphicon-pushpin"></span></button> 
          <img src="{{pin.image}}" alt="Image">
          <hr>
          <div class="caption"><p>{{pin.description}}</p></div>
          <hr>
          <div class="pinInfo">
            <div class="round2"><img ng-src="{{pin.profile_pic}}"></div>
            <p>{{pin.user_name}}</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>