<!-- Navigation -->
<nav class="navAttr">
  <div class="col-md-12">
    <a href="#/" class="logoLink"><img class="logo" src="images/Pinterest_Badge_Red.png"></a>
    <input class="form-control search" type="text" ng-model="searchText">
    <a class="btn btn-default" href="#/profile/{{uid}}">{{userName}}</a>
  <div>  
</nav>
<!-- Pins on page -->
<div class="row pinRow">
  <div ng-repeat="pin in pins | filter: searchText">
     <div class="item">
        <div class="well">
         <div class="thumbnail">
          <button class="pinIt btn btn-xs" data-toggle="modal" data-target="#modal" ng-click="getPin(pin)"><span class="glyphicon glyphicon-pushpin"></span></button> 
          <img src="{{pin.image}}" alt="Image">
          <hr>
          <div class="caption"><p>{{pin.description}}</p><a href="{{pin.url}}">{{pin.url}}</a></div>
          <hr>
          <div class="pinInfo">
            <div class="round2"><img ng-src="{{pin.profile_pic}}"></div>
            <p>{{pin.user_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pin It</h4>

      </div>
      <div class="modal-body container">
       <img src="{{newImg}}" alt="{{newPinDesc}}" width="100%">
        <hr>
         <div class="caption"><p>{{newPinDesc}}</p></div>
         <hr>
         <div class="boardselect">Please select your Board</div>
        
         <select class="form-control" ng-options="board.title for board in userBoards" ng-model="boardSelect">
      <option>--</option>
    </select>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addPinToBoard()" data-dismiss="modal">Add pin</button>
      </div>
    </div>
  </div>
</div>


<div class="footerButtonWrap addPin">
  <button class="button button-caution button-circle button-small" ng-click="go('/new')">+</button>
</div>