<!-- Pins on page -->
<div class="row">
  <div ng-repeat="pin in pins">
     <div class="item">
        <div class="well">
           <div class="thumbnail"> 
            <img src="{{pin.image}}" alt="Image">
              <div class="caption">
                <p>{{pin.description}}</p>
        <!-- Button<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
     </div>
    </div> 
    </div>
   </div>
  </div>
</div>
