<nav class="navAttr">

  <div class="col-md-12">
    <a href="#/" class="logoLink"><img class="logo" src="images/Pinterest_Badge_Red.png"></a>
    <input class="form-control search" type="text" ng-model="searchText">
    <a class="btn btn-default" href="#/profile/{{uid}}">{{name}}</a>
  <div>  
</nav>

<div id="form">
  <div>
    <label>Website Url:</label>
    <input class="form-control" ng-model="url">

    <label>Pin Description:</label>
    <textarea class="form-control" ng-model="description"></textarea>

    <label>Select Board:</label>
    <select class="form-control" ng-options="board.title for board in boards" ng-model="boardSelect">
      <option>--</option>
    </select>

    <button class="btn" ng-click="getImages()" data-toggle="modal" data-target="#myModal">Add</button>
  </div>
</div>

<!--Modal to select which image from website to use for pin-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Which picture?</h4>
      </div>
      <div class="modal-body container">
        <div class="col-md-6" ng-repeat="image in images" ng-click="setSelected($index,image.url)" ng-class="{selected: $index === idSelectedImage}">
          <img class="imageOption" ng-src="{{image.url}}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addPin()" data-dismiss="modal">Add pin</button>
      </div>
    </div>
  </div>
</div>